.animate-cascade {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-in, transform 1s ease-in;
  }
  
  .animate-cascade.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  .border-line {
    border-bottom: 2px solid #000;
  }