<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8"
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css" rel="stylesheet" type="text/css" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css'>
  <link rel="stylesheet" href="./style.css">

  <!-- Agrega los enlaces a los estilos de Tailwind CSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Nosotros</title>


    
<head>

  

    <!--Custom CSS-->
  

    <!--Tailwind CSS-->
    <script src="https://cdn.tailwindcss.com"></script>

    <style type="text/tailwindcss">
        html{
            padding: 0;
        }
        @layer components {

          .card {
            @apply flex items-center justify-center flex-col gap-2 p-5 w-full sm:w-72 h-full bg-gray-100 border rounded-2xl;
          }

        }
    </style>
    <!--Tailwind CSS-->

    <!--Font-Awesome-->
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous"
        referrerpolicy="no-referrer"
    />

</head>

<!-- Create Nosotros -->
<body>
    <div class="container mx-auto  h-screen background-image bg-cover" style="background-image: url('https://www.ecovidrio.es/sites/default/files/2019-10/background-home-1.png')">

        <div class="container flex justify-center mx-auto pt-16">
            <div>
                <h1 class="xl:text-5xl text-3xl text-center text-teal-600 font-extrabold pb-6 sm:w-4/6 w-5/6 mx-auto">¿Quienes Somos?</h1>
                <p class="text-gray-500 text-lg text-center font-semibold pb-3 px-3 sm:px-12">Somos un grupo de estudiantes de programación de la Facultad Tecnologica de San Rafael, el cual somos 8 integrantes de diferentes provincias. Actualmente estamos presentando este proyecto para proponer un cambio en la sociedad el cual deberia generar un impacto significativo en el medioambiente. Procuramos con esto realizar un cambio que impacte en la comunidad de la localidad de San Rafael y a su vez que también sea escalable para todo el país.</p>
                <br><br>
            </div>
        </div>

        <div class="flex items-center justify-center sm:grid-cols-4 md:grid-cols-2 flex-wrap gap-2 px-12">

            <div class="card bg-amber-100 ">

                <img src="./pofile.jpeg" class="w-24 h-24  rounded-full object-cover transition duration-200 hover:scale-110">

                <div class="text-gray-900 text-lg font-bold">Nicolas Zelarayan</div>

                <div class="text-green-600 font-semibold ">DevOps Engineer</div>
                
                <div class="text-gray-600"style="text-align: center;">Cloud Architect Designing Scalable and Resilient Solutions .</div>
                
                <div class="flex items-center justify-center gap-3 mt-2 w-auto h-5 text-gray-600">
                    <i class="fa-brands fa-twitter fa-lg cursor-pointer transition duration-200 hover:text-green-600"></i>
                    <i class="fa-brands fa-linkedin fa-lg cursor-pointer transition duration-200 hover:text-green-600"></i>
                    <i class="fa-brands fa-github fa-lg cursor-pointer transition duration-200 hover:text-green-600"></i>
                </div>

            </div>

            <div class="card bg-amber-100">

                <img src="./cristian.png" class="w-24 h-24 rounded-full object-cover transition duration-200 hover:scale-110" >

                <div class="text-gray-900 text-lg font-bold">Cristian Alderete </div>

                <div class="text-green-600 font-semibold">Backend Developer</div>
                
                <div class="text-gray-600"style="text-align: center;">Desktop Developer .NET <br> Java Developer - MySQL</div>
                
                <div class="flex items-center justify-center gap-3 mt-2 w-auto h-5 text-gray-600">
                    <i class="fa-brands fa-twitter fa-lg cursor-pointer transition duration-200 hover:text-green-600"></i>
                    <i class="fa-brands fa-linkedin fa-lg cursor-pointer transition duration-200 hover:text-green-600"></i>
                    <i class="fa-brands fa-github fa-lg cursor-pointer transition duration-200 hover:text-green-600"></i>
                </div>

            </div>

            <div class="card bg-amber-100">

                <img src="./gonzalo.jpeg" class="w-24 h-24 rounded-full object-cover transition duration-200 hover:scale-110">

                <div class="text-gray-900 text-lg font-bold">Gonzalo Araya</div>

                <div class="text-green-600 font-semibold">Fullstack Developer</div>
                
                <div class="text-gray-600"style="text-align: center;">React - Angular - NodeJS <br> Python - java - Javascript</div>
                
                <div class="flex items-center justify-center gap-3 mt-2 w-auto h-5 text-gray-600">
                    <i class="fa-brands fa-twitter fa-lg cursor-pointer transition duration-200 hover:text-green-600"></i>
                    <i class="fa-brands fa-linkedin fa-lg cursor-pointer transition duration-200 hover:text-green-600"></i>
                    <i class="fa-brands fa-github fa-lg cursor-pointer transition duration-200 hover:text-green-600"></i>
                </div>

            </div>

            <div class="card bg-amber-100">

                <img src="./agustin.jpeg" class="w-24 h-24 rounded-full object-cover transition duration-200 hover:scale-110">

                <div class="text-gray-900 text-lg font-bold">Agustin Gomez Aranda</div>

                <div class="text-green-600 font-semibold">Full Stack Developer</div>
                
                <div class="text-gray-600"style="text-align: center;">React - NodeJS <br> Python - Javascript</div>
                
                <div class="flex items-center justify-center gap-3 mt-2 w-auto h-5 text-gray-600">
                    <i class="fa-brands fa-twitter fa-lg cursor-pointer transition duration-200 hover:text-green-600"></i>
                    <i class="fa-brands fa-linkedin fa-lg cursor-pointer transition duration-200 hover:text-green-600"></i>
                    <i class="fa-brands fa-github fa-lg cursor-pointer transition duration-200 hover:text-green-600"></i>
                </div>

            </div>

            <div class="card bg-amber-100">

                <img src="./angelo.jpeg" class="w-24 h-24 rounded-full object-cover transition duration-200 hover:scale-110">

                <div class="text-gray-900 text-lg font-bold">Angelo Pertus</div>

                <div class="text-green-600 font-semibold">Lead Testing Team</div>
                
                <div class="text-gray-600"style="text-align: center;">QA & Testing <br>Web Developer </div>
                
                <div class="flex items-center justify-center gap-3 mt-2 w-auto h-5 text-gray-600">
                    <i class="fa-brands fa-twitter fa-lg cursor-pointer transition duration-200 hover:text-green-600"></i>
                    <i class="fa-brands fa-linkedin fa-lg cursor-pointer transition duration-200 hover:text-green-600"></i>
                    <i class="fa-brands fa-github fa-lg cursor-pointer transition duration-200 hover:text-green-600"></i>
                </div>

            </div>

            <div class="card bg-amber-100">

                <img src="./david.jpeg" class="w-24 h-24 rounded-full object-cover transition duration-200 hover:scale-110">

                <div class="text-gray-900 text-lg font-bold">David Mercado</div>

                <div class="text-green-600 ">Frontend Engineer</div>
                
                <div class="text-gray-600"style="text-align: center;">Lead Team Frontend <br> React - NodeJS</div>
                
                <div class="flex items-center justify-center gap-3 mt-2 w-auto h-5 text-gray-600">
                    <i class="fa-brands fa-twitter fa-lg cursor-pointer transition duration-200 hover:text-green-600"></i>
                    <i class="fa-brands fa-linkedin fa-lg cursor-pointer transition duration-200 hover:text-green-600"></i>
                    <i class="fa-brands fa-github fa-lg cursor-pointer transition duration-200 hover:text-green-600"></i>
                </div>

            </div>

            <div class="card bg-amber-100">

                <img src="./juan.jpeg" class="w-24 h-24 rounded-full object-cover transition duration-200 hover:scale-110">

                <div class="text-gray-900 text-lg font-bold">Juan Schallmoser</div>

                <div class="text-green-600 font-semibold">Scrum Master</div>
                
                <div class="text-gray-600"style="text-align: center;"> Driving Agile Excellence <br> Team Collaboration</div>
                
                <div class="flex items-center justify-center gap-3 mt-2 w-auto h-5 text-gray-600">
                    <i class="fa-brands fa-twitter fa-lg cursor-pointer transition duration-200 hover:text-green-600"></i>
                    <i class="fa-brands fa-linkedin fa-lg cursor-pointer transition duration-200 hover:text-green-600"></i>
                    <i class="fa-brands fa-github fa-lg cursor-pointer transition duration-200 hover:text-green-600"></i>
                </div>

            </div>

            <div class="card bg-amber-100">

                <img src="./leonardo.jpeg" class="w-24 h-24 rounded-full object-cover transition duration-200 hover:scale-110">

                <div class="text-gray-900 text-lg font-bold">Leonardo Valdez</div>

                <div class="text-green-600 font-semibold">Technical Writer</div>
                
                <div class="text-gray-600"style="text-align: center;">Technical Writer | Communicating Complex Concepts with Precision</div>
                
                <div class="flex items-center justify-center gap-3 mt-2 w-auto h-5 text-gray-600">
                    <i class="fa-brands fa-twitter fa-lg cursor-pointer transition duration-200 hover:text-green-600"></i>
                    <i class="fa-brands fa-linkedin fa-lg cursor-pointer transition duration-200 hover:text-green-600"></i>
                    <i class="fa-brands fa-github fa-lg cursor-pointer transition duration-200 hover:text-green-600"></i>
                </div>

            </div>

        </div>
        <br><br>
    </div>

</body>


<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js'></script>
<script src="./script.js"></script>


</html>